@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body{
    font-family:'Poppins', sans-serif ;
}


.navbar{
    /* border: 5px solid red; */
    display: flex;
    justify-content: space-between;
    height: 13vh;
}
.nav-link:hover{
    color: rgb(245, 93, 18);
    text-decoration:underline;
    text-underline-offset: 1rem;/*Give space btwn alphabets & underline*/
    text-decoration-color: rgb(255, 200, 0);
}
